.container {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin: auto;
    height: max-content;
    width: max-content;
}
p {
    text-align: center;
    color: rgb(111, 0, 0);
}

.input {
    position: relative;
    input {

        border: 1px solid gray;
        padding: 15px;
        width: 100%;
        height: 42px;
        margin-bottom: 10px;
    }

}